<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{{title}}</span>
            <div>
                <button class="btn btn-primary btn-sm" @click="$router.push(create)">Create</button>
                <button class="btn btn-success btn-sm" @click="showFilter = !showFilter">F</button>
            </div>
        </div>
        <template v-if="isLoading">
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div v-if="isError">
                <div class="panel-body">
                    <h2>Data not found! Please contact admin...</h2>
                </div>
            </div>
            <div v-else>
                <div class="panel-body">
                    <div class="filter" v-if="showFilter">
                        <div class="filter-column">
                            <div class="form-group">
                                <select v-model="params.search_column" class="form-control">
                                    <option v-for="column in filters" :value="column">{{column}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-operator">
                            <div class="form-group">
                                <select class="form-control" v-model="params.search_operator">
                                    <option v-for="(operator, key) in operators" :value="key">{{operator}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-input">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="params.search_query_1" @keyup.enter="fetchData">
                            </div>
                        </div>
                        <div class="filter-input" v-if="params.search_operator === 'between'">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="params.search_query_2" @keyup.enter="fetchData">
                            </div>
                        </div>
                        <div class="filter-btn">
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm" @click.prevent="fetchData">Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive data-table">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th v-for="thead in theads">
                                    <div v-if="thead.sort" @click="sort(thead.key)" :style="{width:thead.width}">
                                        <span>{{thead.title}}</span>
                                        <template v-if="params.sort_column === thead.key">
                                            <span v-if="params.direction === 'asc'">&#x25B2;</span>
                                            <span v-else>&#x25BC;</span>
                                        </template>
                                    </div>
                                    <div v-else>
                                        <span>{{thead.title}}</span>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <slot :items="model.data"></slot>
                            </tbody>
                        </table>
                        <div class="fetching" v-if="isFetching">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-3">
                            <span>Per Page:</span>
                            <span>
                <select v-model="params.per_page" @change="fetchData">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </span>
                        </div>
                        <div class="col-sm-3">
                            <small>Showing from {{model.from}} to {{model.to}} of {{model.total}}</small>
                        </div>
                        <div class="col-sm-3">
                            <span>Page:</span>
                            <span>
                <input type="text" v-model="params.page" @keyup.enter="fetchData" style="width:45px">
            </span>
                        </div>
                        <div class="col-sm-3">
                            <div style="float: right">
                                <button class="btn btn-default" :disabled="model.prev_page_url === null" @click="prev">Prev</button>
                                <button class="btn btn-default" :disabled="model.next_page_url === null" @click="next">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="pagination">
                        <li :class="[model.prev_page_url === null ? 'disabled' : '']" @click="prev()"><a><<</a></li>
                        <li :class="[model.current_page === n ? 'active' : '']" v-for="n in model.last_page" @click="changePage(n)"><a>{{n}}</a></li>
                        <li :class="[model.next_page_url === null ? 'disabled' : '']" @click="next()"><a>>></a></li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <ul class="pagination">
                        <li :class="[model.prev_page_url === null ? 'disabled' : '']" @click="prev()"><a>Prev</a></li>
                        <li :class="[model.current_page === n ? 'active' : '']" v-for="n in paginateWithDots" @click="changePage(n)"><a>{{n}}</a></li>
                        <li :class="[model.next_page_url === null ? 'disabled' : '']" @click="next()"><a>Next</a></li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <paginate
                            :page-count="parseInt(model.last_page)"
                            :page-range="3"
                            :margin-pages="2"
                            :click-handler="clickCallback"
                            :prev-text="'Prev'"
                            :next-text="'Next'"
                            :container-class="'pagination'"
                            :page-class="'page-item'">
                    </paginate>
                </div>
            </div>
        </template>
    </div>
</template>
<script>
    import Paginate from 'vuejs-paginate'
    export default {
        components: {
            Paginate
        },
        props: ['title', 'create', 'theads', 'filters', 'source'],
        data() {
            return {
                showFilter: false,
                isLoading: true,
                isError: false,
                isFetching: false,
                operators: {
                    equal_to: '=',
                    less_than: '<',
                    greater_than: '>',
                    like: 'LIKE',
                    in: 'IN',
                    not_in: 'NOT_IN',
                    between: 'BETWEEN'
                },
                params: {
                    page: 1,
                    per_page:5,
                    sort_column: 'id',
                    direction: 'desc',
                    search_column: 'id',
                    search_operator: 'equal_to',
                    search_query_1: '',
                    search_query_2: ''
                },
                model: {
                    data: []
                },
                paginateWithDots: []
            }
        },
        created() {
            this.fetchData();
        },
        watch: {},
        computed: {},
        methods: {
            fetchData() {
                this.$http.get(this.builUrl())
                    .then(response => {
                        this.model = response.data.model;
                        this.paginateWithDots = this.pagination(this.model.current_page, this.model.last_page);
                        console.log(this.paginateWithDots);
                        console.log(this.model)
                    })
                    .catch(error => {
                        this.isError = true;
                        console.log(error)
                    })
                    .finally(() => {
                        this.isLoading = false;
                        this.isFetching = false;
                    })
            },
            builUrl() {
                let p = this.params;
                return `${this.source}?page=${p.page}&per_page=${p.per_page}&sort_column=${p.sort_column}&direction=${p.direction}&search_column=${p.search_column}&search_operator=${p.search_operator}&search_query_1=${p.search_query_1}&search_query_2=${p.search_query_2}`;
            },
            prev() {
                if(this.model.prev_page_url) {
                    this.params.page--;
                    this.fetchData()
                }
            },
            next() {
                if(this.model.next_page_url) {
                    this.params.page++;
                    this.fetchData()
                }
            },
            sort(column) {
                this.params.sort_column = column;
                if(this.params.direction === 'asc') {
                    this.params.direction = 'desc'
                } else {
                    this.params.direction = 'asc'
                }
                this.fetchData()
            },
            changePage(page) {
                if(page === '...') {
                    return false;
                }
                this.params.page= page;
                this.isFetching = true;
                this.fetchData();
            },
            clickCallback(pageNum) {
                this.params.page = pageNum;
                this.fetchData();
            },
            pagination(c, m) {// c = current_page, m = sum page
                let delta = 2,
                    range = [],
                    rangeWithDots = [],
                    l;

                range.push(1)
                for (let i = c - delta; i <= c + delta; i++) {
                    if (i < m && i > 1) {
                        range.push(i);
                    }
                }
                range.push(m);

                range.map(val => {
                    if (l) {
                        if (val - l === 2) {
                            rangeWithDots.push(l + 1);
                        } else if (val - l !== 1) {
                            rangeWithDots.push('...');
                        }
                    }
                    rangeWithDots.push(val);
                    l = val;
                });
                return rangeWithDots;
            }
        }
    }
</script>
<style scoped>
    .data-table {
        position: relative;
    }
    .data-table .fetching {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .fetching .progress {
        margin-top: 40%;
        height: 40px;
    }
</style>