<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                {{title}}
            </span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="form.name">
                        <small class="text-danger" v-if="errors.name">{{errors.name[0]}}</small>
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" v-model="form.company">
                        <small class="text-danger" v-if="errors.company">{{errors.company[0]}}</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" v-model="form.email">
                        <small class="text-danger" v-if="errors.email">{{errors.email[0]}}</small>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" v-model="form.phone">
                        <small class="text-danger" v-if="errors.phone">{{errors.phone[0]}}</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Address</label>
                        <textarea cols="30" rows="5" class="form-control" v-model="form.address">{{form.address}}</textarea>
                        <small class="text-danger" v-if="errors.address">{{errors.address[0]}}</small>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" @click="save()" :disabled="isLoading"><i class="fa fa-refresh fa-spin" v-if="isLoading"></i> Save</button>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                title: 'Create',
                initialize: '/api/customer/create',
                store: '/api/customer',
                method: 'post',
                form: {},
                errors: {},
                redirect: '/admin/customer',
                isLoading: false
            }
        },
        created() {
            if(this.$route.meta.model === 'edit') {
                this.title = 'Edit';
                this.initialize = '/api/customer/' + this.$route.params.id + '/edit';
                this.store = '/api/customer/' + this.$route.params.id;
                this.method = 'put'
            }
            this.fetchData()
        },
        methods: {
            fetchData() {
                this.$http.get(this.initialize)
                    .then(response => {
                        console.log(response);
                        this.form = response.data.form
                    })
                    .catch(error => console.log(error))
            },
            save() {
                this.isLoading = true;
                this.$http[this.method](this.store, this.form)
                    .then(response => {
                        console.log(response);
                        if(response.data.saved === true) {
                            this.$router.push(this.redirect)
                        }
                    })
                    .catch(error => {
                        console.log(error);
                        this.errors = error.data
                    })
                    .finally(() => this.isLoading = false)
            }
        }
    }
</script>