<template>
    <data-table :title="title" :create="create" :theads="theads" :filters="filters" :source="source">
        <template scope="props">
            <tr v-for="item in props.items" @click="$router.push('/admin/customer/' + item.id )">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.company}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.address}}</td>
                <td>{{item.created_at}}</td>
            </tr>
        </template>
    </data-table>
</template>
<script>
   import DataTable from '../../components/DataTable.vue'
   export default {
       components: {
           DataTable
       },
       data() {
           return {
               title: 'CustomerIndex',
               source: '/api/customer',
               create: '/admin/customer/create',
               theads: [
                   {title: 'ID', key:'id', sort: true, width: '40px'},
                   {title:'Name', key: 'name', sort: true},
                   {title: 'Company', key: 'company', sort: true},
                   {title: 'Email', key: 'email', sort: true},
                   {title: 'Phone Number', key: 'phone', sort: false},
                   {title: 'Address', key: 'address', sort: true},
                   {title: 'Created_At', key: 'created_at', sort: true}
               ],
               filters: ['id', 'name', 'email', 'company', 'phone', 'address','created_at'],
           }
       }
   }

</script>
<style>

</style>