<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{{customer.name}}</span>
            <div>
                <button class="btn btn-primary btn-sm" @click="$router.push('/admin/customer/' + $route.params.id + '/edit')">Edit</button>
                <button class="btn btn-danger btn-sm" @click="remove()">Delete</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <label>Name</label>
                    <p>{{customer.name}}</p>
                    <label>Company</label>
                    <p>{{customer.company}}</p>
                </div>
                <div class="col-sm-4">
                    <label>Email</label>
                    <p>{{customer.email}}</p>
                    <label>Phone Number</label>
                    <p>{{customer.phone}}</p>
                </div>
                <div class="col-sm-4">
                    <label>Created_At</label>
                    <p>{{customer.created_at}}</p>
                    <label>Address</label>
                    <p>
                        <textarea cols="30" rows="3">{{customer.address}}</textarea>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                source: '/api/customer/' + this.$route.params.id,
                customer: {},
                redirect: '/admin/customer'
            }
        },
        created() {
            this.fetchData();
        },
        watch: {
        },
        methods: {
            fetchData() {
                this.$http.get(this.source)
                    .then(response => this.customer = response.data.customer)
                    .catch(error => console.log(error))
            },
            remove() {
              if(confirm('are you sure?')) {
                  this.$http.delete('/api/customer/' + this.$route.params.id)
                      .then(response => {
                          if(response.data.deleted === true) {
                              this.$router.push(this.redirect)
                          }
                      })
                      .catch(error => console.log(error))
              }
            }
        }
    }
</script>