<template>
    <div>
        <data-table :title="title" :source="source" :theads="theads" :filters="filters" :create="create">
            <template scope="props">
                <tr v-for="item in props.items">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.company}}</td>
                    <td>{{item.phone}}</td>
                    <td class="action">
                        <button class="btn btn-info btn-sm"
                                data-toggle="modal"
                                data-target="#showModal"
                                @click="show(item.id)">Show
                        </button>
                        <button class="btn btn-primary btn-sm"
                                data-toggle="modal"
                                data-target="#editModal"
                                @click="edit(item.id)">Edit
                        </button>
                        <button class="btn btn-danger btn-sm"
                                @click="remove(item.id)">Delete
                        </button>
                    </td>
                </tr>
            </template>
        </data-table>
        <!-- Modal show -->
        <div id="showModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{customer.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Name</label>
                                <p>{{customer.name}}</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Company</label>
                                <p>{{customer.company}}</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Phone</label>
                                <p>{{customer.phone}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--end Modal show-->

        <!-- Modal show -->
        <div id="editModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{form.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" v-model="form.name">
                                    <small class="text-danger" v-if="errors.name">{{errors.name[0]}}</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Company</label>
                                    <input type="text" class="form-control" v-model="form.company">
                                    <small class="text-danger" v-if="errors.company">{{errors.company[0]}}</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" v-model="form.phone">
                                    <small class="text-danger" v-if="errors.phone">{{errors.phone[0]}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" @click="update(form.id)">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--end Modal show-->
    </div>
</template>
<script>
    import DataTable from '../../components/DataTable.vue'
    export default {
        components: {
          DataTable
        },
        data() {
            return {
                title: 'listModal',
                create: '/admin/customer/create',
                theads: [
                    {title: 'ID', key: 'id', sort: true, width: '45px'},
                    {title: 'Name', key: 'name', sort: true},
                    {title: 'Company', key: 'company', sort: true},
                    {title: 'Phone', key: 'phone', sort: true},
                    {title: 'Action', key: 'action', sort: false}
                ],
                filters: ['id', 'name', 'company', 'phone'],
                source: '/api/customer',
                customer: {},
                form: {},
                errors: {}
            }
        },
        methods: {
            show(id) {
                this.customer = {};
                this.$http.get('/api/customer/' + id)
                    .then(response => this.customer = response.data.customer)
                    .catch(error => console.log(error))
            },
            edit(id) {
                this.form = {};
                this.errors = {};
                this.$http.get('/api/customer/' + id + '/edit')
                    .then(response => this.form = response.data.form)
                    .catch(error => console.log(error))
            },
            update(id) {
                this.$http.put(`/api/customer/${id}`, this.form)
                    .then(response => {
                        if(response.data.saved === true) {
                            this.$router.go();
                        }
                    })
                    .catch(error => this.errors = error.data)
            },
            remove(id) {
                if(confirm('are you sure?')) {
                    this.$http.delete('/api/customer/' + id)
                        .then(response => {
                            if(response.data.deleted === true) {
                                this.$router.go();
                            }
                        })
                        .catch(error => console.log(error))
                }
            }
        }
    }
</script>
<style scoped>
    .modal-dialog {
         width: 80%;
     }
    .action {
        text-align: center;
    }
</style>